body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.landing{
    background-image: url('../Task-1/sanitaryware/pic1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:white;
}
#logo {
    text-decoration: none;
    color:wheat;
    flex: 3;
    display: flex;
    font-weight: bolder;
    font-size: 1.2em;
}
header{
    display: flex;
    padding: 10px;
    align-items: center;
}
nav{
    flex: 1;
    display: flex;
    justify-content: right;
    color:wheat;
    font-size: 1.2em;
    font-weight: bolder;
}
.maintext{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    padding: 2em;

}
.maintext div,button{
    margin-top: .5em;
}

.tag1{
    font-size: 2.5em;
    font-weight: bloder;
    
}
.tag2{
    background-color: darkgray;
    height: 20px;
    width: 380px;
    display: flex;
    justify-content: center;
}
.tag3{
    background-color: darkgray;
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.maintext button{
    border-radius: 10px;
    background-color:gray;
    color: white;
}

.maintoilet div{
display: flex;
padding: 5px;
}
    
.first img{
    flex: 1;
    margin-top: 5px;
    
}
.second img{
    flex: 1;
    margin-top: 10px;
}
.third img{
    flex: 1;
    margin-top: 5px;
}
.one div{
    display: flex;
    padding: 5px;

}
.two div{
    display: flex;
}
.one img{
    flex: 1;
    margin-top: 10px;
    display: flex;
}
.two img{
    flex: 1;
    margin-top: 10px;
    display: flex;
}
.three img{
    flex: 1;
    margin-top: 10px;
}